<div class="container">
  <app-error [show]="showError" [message]="errorMessage"></app-error>
  <app-spinner [show]="isLoading"></app-spinner>
  <h1>Please Authenticate</h1>
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field appearance="fill" class="mat-form-field">
            <mat-label for="username">Username</mat-label>
            <input
              matInput
              placeholder="User Name"
              type="text"
              id="username"
              ngModel
              name="username"
              required
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="mat-form-field" appearance="fill">
            <mat-label for="password">Password</mat-label>
            <input
              matInput
              placeholder="Password"
              type="password"
              id="password"
              class="form-control"
              ngModel
              name="password"
              required
              minlength="6"
            />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <button
            style="margin: 4px"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!authForm.valid"
          >
            {{ isLoginMode ? "Login" : "Sign Up" }}
          </button>
          <button
            mat-raised-button
            color="primary"
            type="button"
            (click)="onSwitchMode()"
          >
            Switch to {{ isLoginMode ? "Sign Up" : "Sign In" }}
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>
